<div class="container-fluid">

  <ol class="content">
    <li class="content__item">
      <div class="d-flex">
        <img src="../../../assets/img/gestao-cargo.jpeg" alt="">
        <img src="../../../assets/img/func.png" alt="">
      </div>
      <div class="d-flex">
        <button routerLink="/cargos" class="button button--mimas mx-5"><span>Lista de Cargos</span></button>
        <button routerLink="/funcionarios" class="button button--mimas mx-5"><span>Lista de Funcionarios</span></button>
      </div>
    </li>
  </ol>
</div>
