.container {
  display: flex;
  justify-content: center;

}

.list {
  width: 50%;
  height: 350px;
  background-color: rgb(39, 48, 54);
  border-radius: 15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-content: center;
  overflow: scroll;
  font-family: aktiv-grotesk-extended, sans-serif;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cargo {
  margin: 20px;
  width: 300px;
  height: 70px;
  background-color: rgba(39, 48, 54, .85);
  color: #ffff;
  border-radius: 10px;
  padding: 18px 0 0 20px;
  align-items: center;
}

i {
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.content {
  position: relative;
  left: 540px;
  top: 30px;
}

.table {
  color: #fff;
  width: 550px;
}
