<div class="container-fluid">
  <header>
    <div class="logo">
      <h3><a routerLink="/home">YOOTECH</a></h3>
    </div>
    <nav class="nav">
      <ul>
        <li class="content__item">
          <a routerLink="/cargos" class="link link--elara">
            <span>Lista de cargos</span>
          </a>
        </li>
        <li class="content__item">
          <a routerLink="/funcionarios" class="link link--elara">
            <span>Lista de funcionários</span>
          </a>
        </li>
      </ul>
    </nav>
  </header>
</div>
