<div class="container-fluid mt-3">
  <div class="form">
    <h3 class="text-center">Excluir funcionário</h3>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='cargo_nome' [(ngModel)]="funcionario.func_nome">
      <label>Nome do Funcionário</label>
    </div>
    <div class="label-float my-5">
      <input type="text" placeholder=" " name='cargo_atribuicao' [(ngModel)]="funcionario.func_cidade">
      <label>Cidade do funcionário</label>
    </div>
    <div class="button">
      <button (click)="deleteWorker()" class="btn btn-warning">Excluir</button>
    </div>
  </div>
</div>
